html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
nav {
    background-color: cyan;
    font-weight: 700;
    width: 100%;
}

nav li {
    list-style: none;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
}

.dropbtn:hover {
    background-color:#00c4c4;
    color: white;
}

.dropdown, .dropdown2 {
    position: relative;
}

/*
.dropdown, .dropdown2 {
    display: none;
}
*/

.dropdown-menu {
    align-items: end;
    background-color: orange;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    width: 150px;
}



.dropdown-link {
    color: black;
    display: block;
    height: 100%;
    padding: 1rem 0rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
} 

.dropdown-link:hover {
    color: white;
    background-color: rgb(138, 76, 0);
}

.flex2 {
    align-items: center;
    display: flex;
}

.nav-link {
    display: block;
    padding: 1.25rem;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .flex2 {
        flex-direction: column;
    }
}

